/* GENERAL */

/* --- 01 TYPOGRAPHY SYSTEM

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* ---02 COLORS 
#fff9db
#ffec99
#ffe066
#fab005
#f76707
#fa5252
#c92a2a
#0c8599
#1864ab
#f8f9fa
#868e96
#495057
#343a40
#212529
#0c3256
#0a2844
#071e33

*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* Percentage of user's browser font-size setting */
	font-size: 62.5%;
}

body {
	height: 500px;
	width: 400px;
	background-color: #0a2844;
	font-family: 'Verdana', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #fff;
}

ul {
	list-style: none;
	padding: 0;
}

/* HEADERS */
.heading-primary,
.heading-secondary {
	font-weight: 700;
	/* color: #555; */
	letter-spacing: 0.5px;
	margin-bottom: 0.75rem;
}

.heading-primary {
	font-size: 1.8rem;
	line-height: 1.05;
}
.heading-secondary {
	margin-left: 0.5rem;
	font-size: 1.5rem;
}

/* BUTTONS */
.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	font-size: 1.2rem;
	text-decoration: none;
	background-color: #868e96;

	color: #fff;
	font-weight: 600;
	padding: 0.5rem 1rem;
	border-radius: 999px;

	/* for buttons only */
	border: none;
	cursor: pointer;
	font-family: inherit;
}

.btn:hover,
.btn:active {
	background-color: #495057;
}

/* HELPER CLASSES / SETTINGS CLASSES */

.margin-right-sm {
	margin-right: 1.6rem !important;
}

.margin-bottom-md {
	margin-bottom: 4.8rem !important;
}

.center-text {
	text-align: center;
}

/* --------- STYLES --------------- */

/* POPUP HEADER */
.header {
	margin: 1rem 1rem 2.5rem 1rem;
	text-align: center;
}
/* COLLECTION CONTAINER */

.collections-container-header {
	background-color: #071e33;
	margin: 1rem 0 0rem 0.5rem;
	padding-right: 15px;
}

.collections-container {
	background-color: #071e33;
	margin: 0 0 2.5rem 0.5rem;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* COLLECTION CARDS */
.card-container {
	display: grid;
	column-gap: 0.5rem;
	grid-template-columns: repeat(3, 1fr);
	font-size: 1.2rem;
	padding: 0.75rem 0 0.75rem 0.5rem;
	align-items: center;
	box-shadow: 0px 1px 2px 0px #fff;
}

.card-container-header {
	font-weight: 600;
	border-bottom: solid 1px #fff;
}

.card-last-item {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	/* CSS grid child proprety */
	justify-self: center;
}

.check-icon {
	margin-left: 0.5rem;
	color: white;
	width: 2rem;
	height: auto;
}

ul li:last-child .card-container {
	box-shadow: none;
}

.collection-name {
	margin-left: 0.2rem;
	/* font-weight: 500; */
}

/* NEW COLLECTION FORM */
.new-collection-container {
	margin: 0 0.5rem 2rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-collection-text {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

input {
	background-color: #0a2844;
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-right: 0.5rem;
}
